@use "sass:math";

#featuredWork {
  padding-block: math.div(80rem, 16);
  .card {
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #000000;
    border-radius: 4px;
  }
  .card__2,
  .card__3 {
    margin-top: 1.5rem;
    @include lg {
      margin-top: 0;
    }
  }
}
