@use "sass:math";

#hero {
  min-height: calc(100vh - 98px);

  @include md {
    min-height: calc(100vh - 60px);
  }
  h1 {
    @include md {
      width: 50%;
    }
  }
  p {
    padding-block: 1rem 1.5rem;
    @include md {
      padding-block: 1.5rem 2rem;
      width: 50%;
    }
  }
  .button__group {
    gap: 1.5rem;

    @include md {
      gap: 2rem;
    }
    a {
      margin-inline: auto;
      @include sm {
        margin-inline: initial;
      }
    }
  }
}
